# Access event consumer configuration for the Kafka Compose overlay.
# Format: key=value

consumer.bootstrap_servers=kafka:29092
consumer.topic=hao-shortlink.access-events.v1
consumer.group_id=hao-shortlink-access-statistics-v1
consumer.client_id=hao-shortlink-access-statistics-consumer-container
consumer.auto_offset_reset=earliest
consumer.poll_timeout_ms=500
consumer.session_timeout_ms=10000
consumer.dlq_topic=hao-shortlink.access-events.dlq.v1
consumer.dlq_client_id=hao-shortlink-access-statistics-dlq-container
consumer.dlq_message_timeout_ms=10000
consumer.dlq_delivery_timeout_ms=12000
consumer.processing_max_attempts=5
consumer.retry_initial_ms=100
consumer.retry_max_ms=5000
consumer.offset_commit_max_attempts=3
consumer.observability_enabled=true
consumer.observability_listen_address=0.0.0.0
consumer.observability_port=9091
consumer.lag_refresh_ms=5000
consumer.kafka_query_timeout_ms=1000

mysql.host=tcp://mysql:3306
mysql.user=hao_shortlink
mysql.password=hao_shortlink
mysql.database=hao_shortlink
